name: Build Site

on:
  push:
    branches: [ main ]
  schedule:
    # Run every hour
    - cron: '0 */2 * * *'
  workflow_dispatch: 

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - uses: actions/setup-dotnet@v3.1.0
      with:
        dotnet-version: '5.0.x'

    - name: Build website
      run: dotnet run

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Build website (automatic)
        file_pattern: docs/index.html
        commit_user_name: GitHub Action
        commit_user_email: actions@github.com
        commit_author: GitHub Action <actions@github.com>
